body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    pink,
    red
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

img {
  height: 300px;
  clip-path: clip-path: polygon(0% 0%, 100% 0%, 100% 61%, 66% 73%, 75% 100%, 53% 74%, 0 65%);

}

h1 {
  font-family: "Sigmar One", cursive;
  font-size: 50px;
}

.dad-joke {
  display: flex;
  align-self: stretch;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  width: 80vh;
  padding: 30px;
  background: blanchedalmond;
  border: 10px solid black;
  border-radius: 10%;
}

button {
  padding: 10px;
  font-size: 20px;
  font-family: "Sigmar One", cursive;
  border-radius: 10%;
  border: 5px solid black;
  background: radial-gradient(#12c2e9, #c471ed, #f64f59);
}
